@media screen and (max-width: 320px) {

  html, body, .interventiontable{
    width: 100%;
    margin:0;
    padding:0;
  }

  th.id, td.id {
    display:none;
  }

  th.email, td.email {
    display:none;
  }

  th.first_name, td.first_name {
    display:none;
  }

  th.place, td.place {
    display:none;
  }

  .navigation .page-link {
    padding: .5rem .40rem;
  }

}
