@media screen and (max-width: 320px) {

  .interventiontable{
    margin: 1px;
  }
  .interventiontable h1{
    margin: 7px;
  }
  html, body, .interventiontable{
    width: 100%;
    margin:0;
    padding:0;
  }
  th, td {
    padding: 0;
  }
  th.id, td.id {
    display:none;
  }
  th.email, td.email {
    display:none;
  }
  th.first_name, td.first_name {
    display:none;
  }
  th.place, td.place {
    display:none;
  }
  .navigation .page-link {
    padding: .5rem .40rem;
  }
  th.checkbox, td.checkbox {
    width: 5%;
    min-width: 5%;
    padding: 1%;
  }
  th.buttons, td.buttons {
    width: 5%;
    min-width: 5%;
    padding: 1%;
  }





  form.search_group {
    width: 100%;
  }

  div.search {
    width: 75%;
  }

  div.search label {
    width: 25%;
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  div.search div {
    width: 70%;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  div.search div input {
    width: 70%;
    padding: 0;
    margin: 0;
    margin-left: 10%;
  }

  div.delete {
    width: 25%;
  }

  div.delete input{
    width: 100%;
    margin: 0;
  }
}
