
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
    /* Styles */
    .interventiontable {
        margin-left: 1%;
        width: 98%;
    }

    th.id, td.id {
        display: none;
    }

    th.email, td.email {
        display: none;
    }

    th.place, td.place {
        display: none;
    }

    .navigation .page-link {
         padding: .5rem .60rem;
    }

    div.search {
        margin-bottom: 0px;
    }

    div.search label {
        display: inline-block;
        width: 40%;
    }

    div.search div {
        width: 50%;
        flex: 0 0 30%;
        margin-left: 5%;
        display: inline-block;
    }

    div.delete {
        float: left;
    }

}


