
@media only screen and (max-device-width: 480px) {

    .interventiontable{
        margin: 1px;
    }
    .interventiontable h1{
        margin: 7px;
    }

    div.search {
        max-width: 70%;
        margin-bottom: 0px;
    }

    div.search label {
        display: inline-block;
        width: 40%;
    }

    div.search div {
        width: 50%;
        flex: 0 0 30%;
        margin-left: 5%;
        display: inline-block;
    }

    div.delete {
        float: left;
    }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 480px) {
    /* Styles */
    .interventiontable {
        margin-left: 1%;
        width: 98%;
    }

    th.id, td.id {
        display: none;
    }

    th.first_name, td.first_name {
        display: none;
    }

    th.email, td.email {
        display: none;
    }

    th.place, td.place {
        display: none;
    }

    .navigation .page-link {
        padding: .5rem .60rem;
    }

}


