
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    /* Styles */
    .interventiontable {
        margin-left: 1%;
        width: 98%;
    }

    th.checkbox, td.checkbox {
    }

    th.id, td.id {
        display: none;
    }

    th.place, td.place {
        display: none;
    }

}


